.MainMenu {
	background: #1E1E1E;
	height: 3.75em;
	left: 0;
	position: fixed;
	right: 0;
	text-align:  center;
	top: 0;
}

.MainMenu-list {
	margin: 0;
	padding: 0;

}

.MainMenu-item {
	display: inline-block;
	margin-right: 1.5em;
}

.MainMenu-link {
	color: #00D9FF;
	line-height: 3.75em;
	text-decoration: none;
}

.Header {
	background: url(../images/portada.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 3.75em;
	text-align: center;
	padding: 1.8em 0;
}

.Header-imageContainer {
	margin: 0;
}

.Header-image {
	border: 5px solid white;
	border-radius: 50%;
}

.Header-name,
.Header-link {
	color: white;
}

.Header-link {
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}

.Header-name {
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}
