<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Porfolio.la</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#yo">Yo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#perfil">Perfil</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#trabajo">Trabajo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#contacto">Contacto</a>
				</li>
			</ul>
		</nav>
		<figure class="Header-imageContainer">
			<img class="Header-image" src="../static/images/avatar.jpg" alt="Imagen personal"  />
			<figcaption class="Header-imageDescription"><a class="Header-link" href="http://twitter.com/jpcpamies" target='blank'>@jpcpamies</a></figcaption>
		</figure>
		<p class="Header-name">Jordi Pàmies</p>
	</header>
	<section id="pefil" class="Profile">
		<h2 class="Profile-title u-title">Mi Perfil</h2>
		<p class="Profile-description">
			Hola! si llegaste hasta aquí puedes ver mi portafolio y contratarme. 
		</p>
		<a class="Profile-link" href="http://twitter.com/jpcpamies" target='blank'>@jpcpamies</a>
		<a class="Profile-link" href="http://facebook.com/jpcpamies" target='blank'>jpcpamies</a>
		<a class="Profile-link" href="http://github.com/jpcpamies" target='blank'>jpcpamies</a>
	</section>
	<section id="trabajo" class="Work">
		<h2 class="Work-title u-title">Mi Trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/fqu.jpg" alt="Página web de las fiestes Quinquenlaes de Ulldecona 2014">
				<figcaption class="Work-description"> WebApp - Fiesteas Quinquennales Ulldecona 2014</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/fqu.jpg" alt="Página web de las fiestes Quinquenlaes de Ulldecona 2014">
				<figcaption class="Work-description"> WebApp - Fiesteas Quinquennales Ulldecona 2014</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/fqu.jpg" alt="Página web de las fiestes Quinquenlaes de Ulldecona 2014">
				<figcaption class="Work-description"> WebApp - Fiesteas Quinquennales Ulldecona 2014</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/fqu.jpg" alt="Página web de las fiestes Quinquenlaes de Ulldecona 2014">
				<figcaption class="Work-description"> WebApp - Fiesteas Quinquennales Ulldecona 2014</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/fqu.jpg" alt="Página web de las fiestes Quinquenlaes de Ulldecona 2014">
				<figcaption class="Work-description"> WebApp - Fiesteas Quinquennales Ulldecona 2014</figcaption>
			</figure>
		</article>
	</section>
	<footer id="contacto" class="Footer">
		<div class="Footer-left">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes una sigerencia o quieres trabajar conmigo ponte en contacto con este formulario.</p>
		</div>
		<form class="Footer-form">
			<input class="Footer-fromInput" type="text" placeholder="Nombre"/>
			<input class="Footer-fromInput" type="email" placeholder="Email"/>
			<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
			<button class="Footer-button" type="submit">Contactarme</button>
		</form>
	</footer>
</body>
</html>